# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# UV
#   Similar to Pipfile.lock, it is generally recommended to include uv.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#uv.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock
#poetry.toml

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#   pdm recommends including project-wide configuration in pdm.toml, but excluding .pdm-python.
#   https://pdm-project.org/en/latest/usage/project/#working-with-version-control
#pdm.lock
#pdm.toml
.pdm-python
.pdm-build/

# pixi
#   Similar to Pipfile.lock, it is generally recommended to include pixi.lock in version control.
#pixi.lock
#   Pixi creates a virtual environment in the .pixi directory, just like venv module creates one
#   in the .venv directory. It is recommended not to include this directory in version control.
.pixi

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

# Abstra
# Abstra is an AI-powered process automation framework.
# Ignore directories containing user credentials, local state, and settings.
# Learn more at https://abstra.io/docs
.abstra/

# Visual Studio Code
#  Visual Studio Code specific template is maintained in a separate VisualStudioCode.gitignore 
#  that can be found at https://github.com/github/gitignore/blob/main/Global/VisualStudioCode.gitignore
#  and can be added to the global gitignore or merged into this file. However, if you prefer, 
#  you could uncomment the following to ignore the entire vscode folder
# .vscode/

# Ruff stuff:
.ruff_cache/

# PyPI configuration file
.pypirc

# Cursor
#  Cursor is an AI-powered code editor. `.cursorignore` specifies files/directories to
#  exclude from AI features like autocomplete and code analysis. Recommended for sensitive data
#  refer to https://docs.cursor.com/context/ignore-files
.cursorignore
.cursorindexingignore

# Marimo
marimo/_static/
marimo/_lsp/
__marimo__/

# Empty directories
.venv\Include/
data/
docs/
scripts/
src/
tests/
venv\Include/

# Empty directories
.venv\Include/
data/
docs/
scripts/
src/
tests/
venv\Include/

# Sensitive files and data
venv\Lib\site-packages\torch\nn\modules\module.py
venv\Lib\site-packages\pip\_internal\locations\__init__.py
venv\Lib\site-packages\IPython\core\interactiveshell.py
venv\Lib\site-packages\google\protobuf\internal\python_message.py
.venv\Lib\site-packages\sympy\crypto\crypto.py
venv\Lib\site-packages\torch\distributed\optim\utils.py
venv\Lib\site-packages\grpc\_server.py
venv\Lib\site-packages\networkx\readwrite\json_graph\adjacency.py
venv\Lib\site-packages\networkx\readwrite\json_graph\tests\test_adjacency.py
venv\Lib\site-packages\tensorflow\python\feature_column\feature_column_v2.py
venv\Lib\site-packages\networkx\algorithms\approximation\traveling_salesman.py
venv\Lib\site-packages\torch\_inductor\runtime\triton_heuristics.py
.venv\Lib\site-packages\sympy\crypto\tests\test_crypto.py
.venv\Lib\site-packages\IPython\core\interactiveshell.py
.venv\Lib\site-packages\pip\_internal\locations\__init__.py
venv\Lib\site-packages\torch\distributed\elastic\rendezvous\c10d_rendezvous_backend.py
venv\Lib\site-packages\pygments\lexers\_php_builtins.py
venv\Lib\site-packages\tensorflow\python\data\experimental\ops\pad_to_cardinality.py
venv\Lib\site-packages\tensorflow\python\trackable\constants.py
venv\Lib\site-packages\tensorflow\python\tpu\tpu_embedding_v3.py
venv\Lib\site-packages\sympy\codegen\fnodes.py
venv\Lib\site-packages\networkx\tests\test_relabel.py
venv\Lib\site-packages\tensorflow\python\debug\cli\tensor_format.py
venv\Lib\site-packages\torch\_inductor\triton_bundler.py
venv\Lib\site-packages\tensorboard\backend\process_graph.py
venv\Lib\site-packages\torch\fx\passes\runtime_assert.py
venv\Lib\site-packages\debugpy\_vendored\pydevd\_pydevd_bundle\pydevd_resolver.py
venv\Lib\site-packages\tensorflow\python\training\training_util.py
venv\Lib\site-packages\torch\_functorch\_aot_autograd\graph_capture_wrappers.py
venv\Lib\site-packages\onnxruntime\transformers\models\phi2\inference_example.py
venv\Lib\site-packages\zmq\ssh\tunnel.py
venv\Lib\site-packages\torch\_inductor\lookup_table\choices.py
venv\Lib\site-packages\torch\distributed\rpc\_utils.py
venv\Lib\site-packages\networkx\algorithms\shortest_paths\tests\test_weighted.py
venv\Lib\site-packages\tensorflow\python\trackable\trackable_utils.py
venv\Lib\site-packages\torch\fx\experimental\recording.py
venv\Lib\site-packages\tensorflow\python\compiler\tensorrt\utils.py
venv\Lib\site-packages\torch\distributed\distributed_c10d.py
venv\Lib\site-packages\torch\ao\quantization\quantizer\x86_inductor_quantizer.py
venv\Lib\site-packages\IPython\core\displayhook.py
venv\Lib\site-packages\torch\_dynamo\variables\higher_order_ops.py
venv\Lib\site-packages\keras\src\datasets\cifar.py
.venv\Lib\site-packages\IPython\core\magics\namespace.py
.venv\Lib\site-packages\sympy\codegen\fnodes.py
.venv\Lib\site-packages\pip\_internal\utils\misc.py
venv\Lib\site-packages\h5py\tests\test_vds\test_highlevel_vds.py
venv\Lib\site-packages\numpy\_core\getlimits.py
venv\Lib\site-packages\tornado\test\curl_httpclient_test.py
venv\Lib\site-packages\torch\fx\graph_module.py
venv\Lib\site-packages\grpc\_cython\_credentials\roots.pem
.venv\Lib\site-packages\tornado\auth.py
venv\Lib\site-packages\numpy\lib\_npyio_impl.py
.venv\Lib\site-packages\prompt_toolkit\key_binding\key_bindings.py
venv\Lib\site-packages\tensorflow\python\saved_model\method_name_updater.py
venv\Lib\site-packages\torch\fx\experimental\symbolic_shapes.py
.venv\Lib\site-packages\debugpy\_vendored\pydevd\_pydev_bundle\pydev_console_utils.py
.venv\Lib\site-packages\debugpy\adapter\clients.py
venv\Lib\site-packages\jupyter_client\ssh\tunnel.py
venv\Lib\site-packages\tornado\test\test.key
venv\Lib\site-packages\torch\ao\quantization\pt2e\_numeric_debugger.py
venv\Lib\site-packages\torchvision\datasets\voc.py
venv\Lib\site-packages\tensorflow\python\feature_column\sequence_feature_column.py
.venv\Lib\site-packages\IPython\core\displayhook.py
venv\Lib\site-packages\onnxruntime\transformers\fusion_constant_fold.py
venv\Lib\site-packages\IPython\core\magics\namespace.py
.venv\Lib\site-packages\tornado\test\web_test.py
venv\Lib\site-packages\onnxruntime\tools\offline_tuning.py
venv\Lib\site-packages\onnxscript\optimizer\_constant_folding.py
.venv\Lib\site-packages\zmq\ssh\tunnel.py
venv\Lib\site-packages\networkx\readwrite\json_graph\tests\test_node_link.py
venv\Lib\site-packages\networkx\algorithms\tree\tests\test_mst.py
venv\Lib\site-packages\certifi\cacert.pem
venv\Lib\site-packages\keras\src\layers\preprocessing\string_lookup.py
venv\Lib\site-packages\tensorflow\python\feature_column\feature_column.py
venv\Lib\site-packages\torch\distributed\fsdp\_optim_utils.py
venv\Lib\site-packages\torch\testing\_internal\common_device_type.py
venv\Lib\site-packages\torch\_functorch\_aot_autograd\autograd_cache.py
venv\Lib\site-packages\keras\src\export\tf2onnx_lib.py
venv\Lib\site-packages\tensorflow\python\keras\saving\saved_model\constants.py
venv\Lib\site-packages\tensorflow\python\distribute\distribute_utils.py
venv\Lib\site-packages\google\protobuf\text_format.py
venv\Lib\site-packages\tensorboard\util\grpc_util.py
venv\Lib\site-packages\torch\cuda\_device_limits.py
venv\Lib\site-packages\torch\testing\_internal\optests\generate_tests.py
.venv\Lib\site-packages\pip\_vendor\certifi\cacert.pem
.venv\Lib\site-packages\jupyter_client\ssh\tunnel.py
venv\Lib\site-packages\networkx\algorithms\simple_paths.py
venv\Lib\site-packages\prompt_toolkit\key_binding\key_bindings.py
venv\Lib\site-packages\sympy\crypto\tests\test_crypto.py
venv\Lib\site-packages\torch\ao\quantization\fx\_model_report\model_report_visualizer.py
venv\Lib\site-packages\google\protobuf\json_format.py
venv\Lib\site-packages\torch\hub.py
venv\Lib\site-packages\onnx\test\helper_test.py
venv\Lib\site-packages\tensorflow\python\distribute\cluster_resolver\sagemaker_cluster_resolver.py
venv\Lib\site-packages\torch\ao\quantization\fx\_model_report\detector.py
venv\Lib\site-packages\torch\distributed\_tools\mem_tracker.py
venv\Lib\site-packages\networkx\readwrite\tests\test_graphml.py
venv\Lib\site-packages\tensorflow\python\tpu\tpu_embedding_v2.py
venv\Lib\site-packages\tornado\auth.py
venv\Lib\site-packages\google\protobuf\service_reflection.py
venv\Lib\site-packages\optree\ops.py
venv\Lib\site-packages\tensorboard\context.py
venv\Lib\site-packages\tensorflow\python\framework\ops.py
venv\Lib\site-packages\numpy\f2py\cb_rules.py
.venv\Lib\site-packages\dateutil\parser\_parser.py
venv\Lib\site-packages\tornado\test\auth_test.py
.venv\Lib\site-packages\tornado\test\test.key
venv\Lib\site-packages\tensorboard\plugins\debugger_v2\debug_data_provider.py
venv\Lib\site-packages\networkx\readwrite\json_graph\node_link.py
venv\Lib\site-packages\networkx\drawing\layout.py
venv\Lib\site-packages\networkx\readwrite\json_graph\tests\test_cytoscape.py
venv\Lib\site-packages\torch\ao\quantization\qconfig_mapping.py
venv\Lib\site-packages\grpc\_simple_stubs.py
venv\Lib\site-packages\opt_einsum\sharing.py
venv\Lib\site-packages\torchvision\datasets\fer2013.py
venv\Lib\site-packages\networkx\drawing\tests\test_agraph.py
venv\Lib\site-packages\parso\python\tokenize.py
venv\Lib\site-packages\pip\_vendor\certifi\cacert.pem
venv\Lib\site-packages\tensorflow\python\distribute\cluster_resolver\tfconfig_cluster_resolver.py
venv\Lib\site-packages\numpy\lib\tests\test_recfunctions.py
.venv\Lib\site-packages\debugpy\_vendored\pydevd\_pydev_bundle\_pydev_completer.py
venv\Lib\site-packages\debugpy\_vendored\pydevd\_pydev_bundle\pydev_ipython_console_011.py
venv\Lib\site-packages\torch\testing\_internal\optests\autograd_registration.py
venv\Lib\site-packages\tornado\test\httpclient_test.py
.venv\Lib\site-packages\tornado\test\curl_httpclient_test.py
venv\Lib\site-packages\onnxruntime\transformers\models\longformer\convert_to_onnx.py
venv\Lib\site-packages\tensorflow\python\framework\type_spec.py
venv\Lib\site-packages\torch\distributed\checkpoint\_hf_utils.py
venv\Lib\site-packages\torch\_inductor\distributed_autotune.py
venv\Lib\site-packages\werkzeug\debug\tbtools.py
.venv\Lib\site-packages\debugpy\_vendored\pydevd\_pydev_bundle\pydev_ipython_console_011.py
venv\Lib\site-packages\networkx\readwrite\tests\test_gexf.py
venv\Lib\site-packages\sympy\crypto\__init__.py
venv\Lib\site-packages\torch\ao\quantization\backend_config\backend_config.py
venv\Lib\site-packages\torchgen\gen.py
venv\Lib\site-packages\networkx\convert.py
venv\Lib\site-packages\keras\src\legacy\saving\serialization.py
venv\Lib\site-packages\networkx\tests\test_convert.py
venv\Lib\site-packages\debugpy\_vendored\pydevd\_pydev_bundle\_pydev_completer.py
venv\Lib\site-packages\sympy\parsing\mathematica.py
.venv\Lib\site-packages\debugpy\_vendored\pydevd\_pydevd_bundle\pydevd_resolver.py
venv\Lib\site-packages\tensorflow\core\distributed_runtime\preemption\gen_check_preemption_op.py
venv\Lib\site-packages\tensorflow\python\distribute\failure_handling\preemption_watcher.py
venv\Lib\site-packages\pip\_internal\utils\misc.py
venv\Lib\site-packages\torch\distributed\tensor\debug\_comm_mode.py
venv\Lib\site-packages\debugpy\_vendored\pydevd\_pydev_bundle\pydev_console_utils.py
venv\Lib\site-packages\networkx\classes\tests\test_multigraph.py
venv\Lib\site-packages\numpy\ma\core.py
venv\Lib\site-packages\networkx\tests\test_convert_pandas.py
.venv\Lib\site-packages\pygments\lexers\_php_builtins.py
venv\Lib\site-packages\tensorflow\python\ops\parsing_ops.py
venv\Lib\site-packages\torch\_export\passes\_node_metadata_hook.py
.venv\Lib\site-packages\tornado\test\httpclient_test.py
venv\Lib\site-packages\torch\utils\data\datapipes\gen_pyi.py
venv\Lib\site-packages\fsspec\spec.py
venv\Lib\site-packages\grpc\__init__.py
venv\Lib\site-packages\torch\ao\quantization\fx\custom_config.py
venv\Lib\site-packages\pasta\base\annotate.py
.venv\Lib\site-packages\sympy\crypto\__init__.py
venv\Lib\site-packages\tensorflow\python\debug\cli\debugger_cli_common.py
venv\Lib\site-packages\torch\autograd\profiler_util.py
.venv\Lib\site-packages\tornado\test\auth_test.py
venv\Lib\site-packages\networkx\classes\multidigraph.py
venv\Lib\site-packages\tensorflow\python\distribute\cross_device_utils.py
venv\Lib\site-packages\numpy\f2py\f2py2e.py
venv\Lib\site-packages\debugpy\adapter\clients.py
venv\Lib\site-packages\tensorflow\python\debug\lib\grpc_debug_server.py
venv\Lib\site-packages\networkx\convert_matrix.py
venv\Lib\site-packages\tensorflow\python\keras\utils\generic_utils.py
venv\Lib\site-packages\tensorflow\python\saved_model\signature_constants.py
.venv\Lib\site-packages\parso\python\tokenize.py
venv\Lib\site-packages\sympy\crypto\crypto.py
venv\Lib\site-packages\tornado\test\web_test.py
venv\Lib\site-packages\tensorflow\python\ops\lookup_ops.py
venv\Lib\site-packages\networkx\classes\multigraph.py
venv\Lib\site-packages\torch\distributed\checkpoint\optimizer.py
venv\Lib\site-packages\networkx\drawing\tests\test_pydot.py
venv\Lib\site-packages\tensorflow\python\keras\saving\utils_v1\unexported_constants.py
venv\Lib\site-packages\torch\distributed\elastic\rendezvous\etcd_rendezvous.py
venv\Lib\site-packages\torch\ao\quantization\pt2e\qat_utils.py
venv\Lib\site-packages\tensorflow\python\distribute\failure_handling\failure_handling.py
venv\Lib\site-packages\torch\distributed\_tools\fsdp2_mem_tracker.py
venv\Lib\site-packages\networkx\classes\tests\test_multidigraph.py
venv\Lib\site-packages\torch\onnx\ops\__init__.py
venv\Lib\site-packages\tensorflow\python\tpu\tensor_tracer.py
venv\Lib\site-packages\torch\_inductor\codecache.py
venv\Lib\site-packages\tensorboard\backend\event_processing\plugin_event_accumulator.py
venv\Lib\site-packages\google\protobuf\pyext\cpp_message.py
venv\Lib\site-packages\tensorflow\python\tpu\tpu_embedding_v3_utils.py
venv\Lib\site-packages\dateutil\parser\_parser.py
venv\Lib\site-packages\torchgen\packaged\autograd\gen_variable_type.py
.venv\Lib\site-packages\sympy\parsing\mathematica.py
venv\Lib\site-packages\networkx\algorithms\community\lukes.py
venv\Lib\site-packages\tensorflow\python\ops\parsing_config.py
venv\Lib\site-packages\werkzeug\serving.py
venv\Lib\site-packages\tensorboard\backend\experiment_id.py
venv\Lib\site-packages\absl\testing\parameterized.py

# Empty directories
.venv\Include/
data/
docs/
scripts/
src/
tests/
venv\Include/

# Sensitive files and data
venv\Lib\site-packages\numpy\f2py\cb_rules.py
venv\Lib\site-packages\torch\_functorch\_aot_autograd\autograd_cache.py
venv\Lib\site-packages\pip\_vendor\certifi\cacert.pem
venv\Lib\site-packages\torch\ao\quantization\backend_config\backend_config.py
venv\Lib\site-packages\torchvision\datasets\fer2013.py
venv\Lib\site-packages\torch\distributed\_tools\mem_tracker.py
venv\Lib\site-packages\sympy\parsing\mathematica.py
venv\Lib\site-packages\debugpy\_vendored\pydevd\_pydev_bundle\_pydev_completer.py
venv\Lib\site-packages\absl\testing\parameterized.py
venv\Lib\site-packages\grpc\__init__.py
venv\Lib\site-packages\networkx\readwrite\json_graph\tests\test_node_link.py
venv\Lib\site-packages\numpy\lib\_npyio_impl.py
.venv\Lib\site-packages\sympy\crypto\__init__.py
venv\Lib\site-packages\torch\_inductor\triton_bundler.py
venv\Lib\site-packages\torch\testing\_internal\optests\generate_tests.py
.venv\Lib\site-packages\tornado\auth.py
venv\Lib\site-packages\networkx\classes\multigraph.py
venv\Lib\site-packages\networkx\readwrite\tests\test_gexf.py
venv\Lib\site-packages\networkx\tests\test_convert.py
.venv\Lib\site-packages\zmq\ssh\tunnel.py
venv\Lib\site-packages\torch\testing\_internal\common_device_type.py
.venv\Lib\site-packages\tornado\test\test.key
venv\Lib\site-packages\torch\distributed\fsdp\_optim_utils.py
venv\Lib\site-packages\tensorflow\python\debug\cli\tensor_format.py
venv\Lib\site-packages\torch\ao\quantization\quantizer\x86_inductor_quantizer.py
venv\Lib\site-packages\torch\autograd\profiler_util.py
venv\Lib\site-packages\jupyter_client\ssh\tunnel.py
venv\Lib\site-packages\torch\ao\quantization\pt2e\qat_utils.py
venv\Lib\site-packages\onnxscript\optimizer\_constant_folding.py
venv\Lib\site-packages\torch\fx\passes\runtime_assert.py
venv\Lib\site-packages\torch\ao\quantization\fx\custom_config.py
venv\Lib\site-packages\torch\onnx\ops\__init__.py
venv\Lib\site-packages\h5py\tests\test_vds\test_highlevel_vds.py
venv\Lib\site-packages\tornado\test\web_test.py
.venv\Lib\site-packages\sympy\crypto\tests\test_crypto.py
venv\Lib\site-packages\tensorflow\python\data\experimental\ops\pad_to_cardinality.py
venv\Lib\site-packages\tensorflow\python\tpu\tensor_tracer.py
venv\Lib\site-packages\pasta\base\annotate.py
venv\Lib\site-packages\parso\python\tokenize.py
venv\Lib\site-packages\tornado\test\httpclient_test.py
venv\Lib\site-packages\zmq\ssh\tunnel.py
venv\Lib\site-packages\tensorflow\python\tpu\tpu_embedding_v3_utils.py
venv\Lib\site-packages\torch\_functorch\_aot_autograd\graph_capture_wrappers.py
venv\Lib\site-packages\networkx\tests\test_relabel.py
venv\Lib\site-packages\networkx\readwrite\json_graph\tests\test_cytoscape.py
venv\Lib\site-packages\numpy\f2py\f2py2e.py
venv\Lib\site-packages\tensorflow\python\saved_model\method_name_updater.py
venv\Lib\site-packages\torch\distributed\distributed_c10d.py
venv\Lib\site-packages\optree\ops.py
venv\Lib\site-packages\networkx\algorithms\approximation\traveling_salesman.py
.venv\Lib\site-packages\IPython\core\interactiveshell.py
venv\Lib\site-packages\tensorboard\backend\experiment_id.py
venv\Lib\site-packages\networkx\readwrite\json_graph\adjacency.py
venv\Lib\site-packages\google\protobuf\json_format.py
.venv\Lib\site-packages\tornado\test\web_test.py
venv\Lib\site-packages\tensorflow\python\framework\type_spec.py
venv\Lib\site-packages\torch\fx\experimental\recording.py
venv\Lib\site-packages\tensorflow\python\compiler\tensorrt\utils.py
.venv\Lib\site-packages\parso\python\tokenize.py
.venv\Lib\site-packages\sympy\parsing\mathematica.py
venv\Lib\site-packages\torch\_inductor\runtime\triton_heuristics.py
venv\Lib\site-packages\prompt_toolkit\key_binding\key_bindings.py
venv\Lib\site-packages\tensorflow\python\tpu\tpu_embedding_v2.py
.venv\Lib\site-packages\IPython\core\magics\namespace.py
.venv\Lib\site-packages\dateutil\parser\_parser.py
venv\Lib\site-packages\tensorflow\python\debug\lib\grpc_debug_server.py
venv\Lib\site-packages\fsspec\spec.py
venv\Lib\site-packages\tensorflow\python\distribute\cross_device_utils.py
.venv\Lib\site-packages\debugpy\_vendored\pydevd\_pydevd_bundle\pydevd_resolver.py
venv\Lib\site-packages\werkzeug\debug\tbtools.py
venv\Lib\site-packages\tensorflow\python\distribute\distribute_utils.py
venv\Lib\site-packages\google\protobuf\internal\python_message.py
venv\Lib\site-packages\torch\distributed\elastic\rendezvous\c10d_rendezvous_backend.py
venv\Lib\site-packages\torch\fx\graph_module.py
venv\Lib\site-packages\onnxruntime\tools\offline_tuning.py
venv\Lib\site-packages\networkx\classes\multidigraph.py
venv\Lib\site-packages\grpc\_cython\_credentials\roots.pem
venv\Lib\site-packages\networkx\readwrite\json_graph\node_link.py
venv\Lib\site-packages\torch\_inductor\codecache.py
venv\Lib\site-packages\torch\_export\passes\_node_metadata_hook.py
venv\Lib\site-packages\tornado\test\test.key
.venv\Lib\site-packages\pygments\lexers\_php_builtins.py
venv\Lib\site-packages\certifi\cacert.pem
venv\Lib\site-packages\debugpy\adapter\clients.py
venv\Lib\site-packages\torch\ao\quantization\fx\_model_report\detector.py
venv\Lib\site-packages\tensorflow\python\saved_model\signature_constants.py
venv\Lib\site-packages\networkx\algorithms\community\lukes.py
venv\Lib\site-packages\networkx\convert_matrix.py
venv\Lib\site-packages\torch\testing\_internal\optests\autograd_registration.py
venv\Lib\site-packages\werkzeug\serving.py
venv\Lib\site-packages\networkx\tests\test_convert_pandas.py
.venv\Lib\site-packages\tornado\test\httpclient_test.py
venv\Lib\site-packages\tensorflow\python\ops\lookup_ops.py
venv\Lib\site-packages\tornado\test\curl_httpclient_test.py
.venv\Lib\site-packages\debugpy\_vendored\pydevd\_pydev_bundle\pydev_console_utils.py
venv\Lib\site-packages\tensorflow\python\distribute\cluster_resolver\sagemaker_cluster_resolver.py
.venv\Lib\site-packages\pip\_internal\locations\__init__.py
venv\Lib\site-packages\tensorflow\python\keras\utils\generic_utils.py
venv\Lib\site-packages\networkx\algorithms\shortest_paths\tests\test_weighted.py
venv\Lib\site-packages\tensorflow\python\trackable\trackable_utils.py
venv\Lib\site-packages\tensorflow\python\framework\ops.py
venv\Lib\site-packages\torch\nn\modules\module.py
venv\Lib\site-packages\torch\_inductor\lookup_table\choices.py
venv\Lib\site-packages\tensorflow\core\distributed_runtime\preemption\gen_check_preemption_op.py
venv\Lib\site-packages\google\protobuf\text_format.py
venv\Lib\site-packages\torch\distributed\checkpoint\_hf_utils.py
venv\Lib\site-packages\tensorflow\python\debug\cli\debugger_cli_common.py
venv\Lib\site-packages\torch\_inductor\distributed_autotune.py
venv\Lib\site-packages\torchgen\packaged\autograd\gen_variable_type.py
venv\Lib\site-packages\networkx\readwrite\tests\test_graphml.py
.venv\Lib\site-packages\debugpy\adapter\clients.py
venv\Lib\site-packages\tensorflow\python\keras\saving\utils_v1\unexported_constants.py
venv\Lib\site-packages\tensorflow\python\ops\parsing_config.py
.venv\Lib\site-packages\sympy\crypto\crypto.py
.venv\Lib\site-packages\debugpy\_vendored\pydevd\_pydev_bundle\_pydev_completer.py
venv\Lib\site-packages\torch\hub.py
venv\Lib\site-packages\sympy\crypto\crypto.py
venv\Lib\site-packages\tensorflow\python\feature_column\sequence_feature_column.py
venv\Lib\site-packages\IPython\core\interactiveshell.py
venv\Lib\site-packages\networkx\classes\tests\test_multidigraph.py
venv\Lib\site-packages\opt_einsum\sharing.py
.venv\Lib\site-packages\tornado\test\auth_test.py
venv\Lib\site-packages\torch\ao\quantization\fx\_model_report\model_report_visualizer.py
venv\Lib\site-packages\tensorflow\python\feature_column\feature_column.py
venv\Lib\site-packages\networkx\algorithms\tree\tests\test_mst.py
venv\Lib\site-packages\tensorflow\python\tpu\tpu_embedding_v3.py
venv\Lib\site-packages\tensorflow\python\distribute\failure_handling\failure_handling.py
venv\Lib\site-packages\onnx\test\helper_test.py
venv\Lib\site-packages\onnxruntime\transformers\fusion_constant_fold.py
venv\Lib\site-packages\torch\_dynamo\variables\higher_order_ops.py
venv\Lib\site-packages\tornado\test\auth_test.py
venv\Lib\site-packages\torch\distributed\checkpoint\optimizer.py
venv\Lib\site-packages\tensorflow\python\keras\saving\saved_model\constants.py
venv\Lib\site-packages\torchvision\datasets\voc.py
venv\Lib\site-packages\tensorflow\python\distribute\cluster_resolver\tfconfig_cluster_resolver.py
venv\Lib\site-packages\networkx\classes\tests\test_multigraph.py
venv\Lib\site-packages\dateutil\parser\_parser.py
.venv\Lib\site-packages\pip\_vendor\certifi\cacert.pem
venv\Lib\site-packages\pip\_internal\locations\__init__.py
venv\Lib\site-packages\networkx\drawing\layout.py
venv\Lib\site-packages\networkx\convert.py
venv\Lib\site-packages\torch\utils\data\datapipes\gen_pyi.py
venv\Lib\site-packages\pip\_internal\utils\misc.py
venv\Lib\site-packages\tensorflow\python\training\training_util.py
venv\Lib\site-packages\onnxruntime\transformers\models\longformer\convert_to_onnx.py
venv\Lib\site-packages\tensorflow\python\feature_column\feature_column_v2.py
venv\Lib\site-packages\tensorflow\python\ops\parsing_ops.py
venv\Lib\site-packages\tornado\auth.py
venv\Lib\site-packages\grpc\_server.py
venv\Lib\site-packages\keras\src\export\tf2onnx_lib.py
venv\Lib\site-packages\numpy\lib\tests\test_recfunctions.py
.venv\Lib\site-packages\tornado\test\curl_httpclient_test.py
venv\Lib\site-packages\sympy\crypto\tests\test_crypto.py
venv\Lib\site-packages\numpy\ma\core.py
venv\Lib\site-packages\keras\src\datasets\cifar.py
venv\Lib\site-packages\numpy\_core\getlimits.py
venv\Lib\site-packages\torch\distributed\tensor\debug\_comm_mode.py
venv\Lib\site-packages\tensorflow\python\distribute\failure_handling\preemption_watcher.py
.venv\Lib\site-packages\jupyter_client\ssh\tunnel.py
venv\Lib\site-packages\keras\src\layers\preprocessing\string_lookup.py
venv\Lib\site-packages\torchgen\gen.py
venv\Lib\site-packages\torch\distributed\_tools\fsdp2_mem_tracker.py
venv\Lib\site-packages\torch\distributed\elastic\rendezvous\etcd_rendezvous.py
venv\Lib\site-packages\torch\distributed\rpc\_utils.py
venv\Lib\site-packages\sympy\crypto\__init__.py
venv\Lib\site-packages\torch\cuda\_device_limits.py
venv\Lib\site-packages\torch\ao\quantization\qconfig_mapping.py
venv\Lib\site-packages\IPython\core\displayhook.py
venv\Lib\site-packages\grpc\_simple_stubs.py
venv\Lib\site-packages\sympy\codegen\fnodes.py
venv\Lib\site-packages\tensorboard\backend\event_processing\plugin_event_accumulator.py
venv\Lib\site-packages\networkx\algorithms\simple_paths.py
.venv\Lib\site-packages\debugpy\_vendored\pydevd\_pydev_bundle\pydev_ipython_console_011.py
venv\Lib\site-packages\torch\ao\quantization\pt2e\_numeric_debugger.py
venv\Lib\site-packages\torch\distributed\optim\utils.py
venv\Lib\site-packages\networkx\drawing\tests\test_pydot.py
venv\Lib\site-packages\debugpy\_vendored\pydevd\_pydev_bundle\pydev_console_utils.py
venv\Lib\site-packages\tensorboard\plugins\debugger_v2\debug_data_provider.py
venv\Lib\site-packages\torch\fx\experimental\symbolic_shapes.py
.venv\Lib\site-packages\prompt_toolkit\key_binding\key_bindings.py
venv\Lib\site-packages\google\protobuf\service_reflection.py
venv\Lib\site-packages\google\protobuf\pyext\cpp_message.py
venv\Lib\site-packages\pygments\lexers\_php_builtins.py
venv\Lib\site-packages\IPython\core\magics\namespace.py
.venv\Lib\site-packages\sympy\codegen\fnodes.py
venv\Lib\site-packages\tensorboard\context.py
.venv\Lib\site-packages\IPython\core\displayhook.py
.venv\Lib\site-packages\pip\_internal\utils\misc.py
venv\Lib\site-packages\tensorboard\backend\process_graph.py
venv\Lib\site-packages\debugpy\_vendored\pydevd\_pydev_bundle\pydev_ipython_console_011.py
venv\Lib\site-packages\onnxruntime\transformers\models\phi2\inference_example.py
venv\Lib\site-packages\tensorboard\util\grpc_util.py
venv\Lib\site-packages\tensorflow\python\trackable\constants.py
venv\Lib\site-packages\networkx\readwrite\json_graph\tests\test_adjacency.py
venv\Lib\site-packages\debugpy\_vendored\pydevd\_pydevd_bundle\pydevd_resolver.py
venv\Lib\site-packages\networkx\drawing\tests\test_agraph.py
venv\Lib\site-packages\keras\src\legacy\saving\serialization.py
